node_modules
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

dist
.claude/settings.local.json

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
